.lock
/.idea/
/.idea/dictionaries
/das.iml
/das_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/das.jar
/dasservice.jar
/das_test_db
/README_win.txt
/das.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/das.manifest.mf
/resource/dasservice.manifest.mf
/das.exe
/dasservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/ardor
/ardor.exe
/ardorservice.exe
